.reader-scroll {
  scrollbar-width: none; 
}

.reader-scroll::-webkit-scrollbar {
  display: none; 
}

.category-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.category-scroll::-webkit-scrollbar {
  display: none;
}